@charset "utf-8";
html,body{ padding: 0; margin: 0; position: relative;}
#mylegend canvas{ background: #fff;}
.cover{ position: fixed; top:0; left: 0; width: 100%; height: 100%; display: none; }
.cover .center{ height:100%; background: #ccc; text-align: center; padding-top: 20%; }
.cover .center img{ -webkit-animation:iphone 1s infinite; animation:iphone 1s infinite;}
@-webkit-keyframes iphone{
    0%{ -webkit-transform:rotate(0deg);}
    50%{ -webkit-transform:rotate(90deg);}
    70%{ -webkit-transform:rotate(90deg);}
    90%{ -webkit-transform:rotate(0deg);}
}@keyframes iphone{
     0%{ transform:rotate(0deg);}
     50%{ transform:rotate(90deg);}
     70%{ transform:rotate(90deg);}
     90%{ transform:rotate(0deg);}
 }

 .table{ position: fixed; top:0; left: 0; width: 100%; height: 50px; color: #fff; list-style: none; margin: 0; padding: 0; overflow: hidden; display: none;}
 .table li{ width: 25%; float: left; text-align: center; padding: 2% 0 0;}
 .table li span{ display: block;}